DB_DRIVER=
DB_SOURCE=
ENVIRONMENT=
MIGRATION_URL=
HTTP_SERVER_ADDRESS=
GRPC_SERVER_ADDRESS=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=
POSTGRES_HOST_AUTH_METHOD=trust
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=